# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# notes
_current.txt
_future.txt

# Files from Forge MDK
forge*changelog.txt
